# Default
*                   text=auto

# Sources
*.c                 text diff=cpp
*.h                 text diff=cpp
*.sb3               binary

# Configuration
*.txt               text
.gitattributes      text
.gitignore          text

# Documentation
*.md                text diff=markdown
*.webp              binary